.gamescreencontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gamescreen {
  border: solid 3px;
  background-color: #fff;
  min-width: 60%;
  min-height: 70vmin;
}

.bottomBar {
  margin: 20px;
}

.chatroom {
  border: solid 3px;
  background-color: #fff;

  display: flex;
  flex-direction: column;

  width: 25%;
  min-height: 70vmin;

  overflow: hidden;
}

.chatroomcanvas {
  color: black;
  height: 100%;
  padding: 20px;
}

.chatbuttonandinput {
  display: flex;
}

.chatInput {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border: solid;
  border-color: #ea498c;
}

.canvas {
  border: solid 3px;
  border-color: #fff101;
}

.message {
  text-align: left;
}

.players {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.player {
  margin: 20px;
}

@media only screen and (max-width: 1000px) {
  .gamescreencontainer {
    flex-direction: column-reverse;
    margin-left: 10%;
    margin-right: 10%;
  }

  .chatroom {
    width: 100%;
    margin-top: 1rem;
    justify-content: space-between;
  }
}
