@import url("https://fonts.googleapis.com/css?family=Press+Start+2P|Rock+Salt&display=swap");

html {
  background-color: #ed028c;
  color: #fff101;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

h1 {
  font-family: "Rock Salt", cursive;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  display: block;
  width: 200px;
  border-style: none;
  padding: 0.5rem;
}

button {
  background-color: #fff101;
  color: #ed028c;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  border-style: solid;
  border-color: #ed028c;
  padding: 1rem;
}

button:hover {
  background-color: #ed028c;
  color: #fff101;
  border-style: solid;
  border-color: #fff101;
}

.roomList {
  padding-top: 30px;
}

.roomItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
}

.roomItemDetail {
  width: 25%;
}

.createRoom {
  border: solid;
  width: 40%;
  margin: auto;
}
